*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* utilities */
.d-flex{
    display: flex;
}

img{
    max-width: 100%;
    display: block;
}
.container{
   max-width: 1200px;
   width: 80%;
   margin: auto;
}
/*#region header*/
#header_site{
    background-color: #ff6900;    
}
.menu{ 
        display: flex;
        justify-content: space-around;
        margin-top: auto;
    }
.logo{
    padding-top: 1rem;
    width: 200px;
    height: 60px;
}
a{
    text-decoration: none;
    color: white;
    padding: o.5rem;

}
ul.gender{
    margin-top: 1rem;
    padding: 1rem;
    margin-right: 1rem;
}
.gender{
    margin-top: auto;
    list-style: none;
    display: flex;
    gap: 0.5rem;
}

.l-icn{
    display: flex;
    gap: 0.5rem;
    list-style: none;
}
.icons{
    display: flex;
    color: white;
    margin-top: auto;
}
ul.icons{
    display: flex;
    gap: 0.5rem;
    list-style: none;
}

/* #endregion header */
/* #region debug */
.debug header{
    height: 80px;
}
.debug main{
    height: 800px;
}
/* #endregion debug */

/* #region main */
.riga
{
    display: flex;
    flex-wrap: wrap;

}
.column{
    width: calc(100% / 12)*4;
    padding: 1rem;
}
.top{
    position: relative;
}
.back-card{
    display: none;
}
.card:hover .front-card{
    display: none;
}
.card:hover .back-card{
    display: block;
}
.like{
    position:absolute;
    right:0;
    top:1rem;
    background-color: #ffffff;
    width:30px;
    height: 3opx;
    display: flex;
    align-items: center;
    justify-content: center;
}
.badges{
    position: absolute;
    left: 0;
    bottom: 2rem;
    font-size: 1rem;
    color: white;
}
.sconto{
    background-color: #ff0000;
    padding: 0.25rem;
    display: inline-block;
}
.categoria{
    background-color: #008000;
    padding: 0.25rem;
    display: inline-block;
}
.scontato{
    color:#ff0000
}
.originale{
    text-decoration: line-through;
}
/* #endregion main */